$mainColor: #15023a;

$width: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
}